<nav>
  <span id="toggle-mode"
    ><span id="light-mode" class="material-icons">light_mode</span
    ><span id="dark-mode" class="material-icons">dark_mode</span></span
  >
  {% if (section.extra.lang is defined and section.extra.lang == "en") or
  (page.extra.lang is defined and page.extra.lang == "en") %}
  <ul>
    <li><a href="/en/">welcome</a></li>
  </ul>
  {% else %}
  <ul>
    <li><a href="/">magunkról</a></li>
  </ul>
  {% endif %}
  <span id="toggle-lang"
    ><a href="/en/"><img src="/icons/uk.png" /></a
    ><a href="/"><img src="/icons/hun.png" /></a
  ></span>
</nav>
