{% import "base/site-head.html" as head %}

<!doctype html>
<html lang="en">
  {{ head::head(title = page.title | default(value = section.title)) }}
  <body>
    <div class="head-container">
      {% include "base/site-nav.html" %}
      <header>
        <div
          class="feature"
          style="
            background-image: url(&quot;/images/omega-background.jpeg&quot;);
            background-position: 0px -80px;
          "
        >
          <div class="feature-title-box">
            <h1 class="blog-title">Omega Alfa Engineering</h1>
          </div>
        </div>
      </header>
      <div class="author">
        <img src="/images/rudolf-photo.jpg" class="author-photo" />
      </div>
    </div>
    <div class="container">
      <main id="main-content">
        {% if section is defined and section.content is defined %}
          {{ section.content | safe }}
        {% else %}
          {{ page.content | safe }}
        {% endif %}
      </main>
      <aside></aside>

      {% include "base/site-footer.html" %}
    </div>
  </body>
</html>
